Work
sd_card
*.log
sd_card.img
logs
.ipcache
.Xil
_x
sim
cfg
function_wdb_dir
trdata.aiesim
Map_Report.csv
build
*.a
bin
.tracing_stdout.txt
*.elf
build*
python_gold
*img.zip
*.wic
output/
isca25-rsn-sandbox/
*.sif
xilinx-versal-common-v2024.1/
no-upload/
*.out